html, body, div, nav, section, footer, p, h1, h2, h3, h4, h5, h6, span, img, a, ul, li, ol, dl, dd,
dt, table, th, tr, td, form, input, select, option, textarea, button {
    margin: 0;
    padding: 0;
    border: none;
    background: none;
    outline: none;
    vertical-align: top; }
ul, ol {
    list-style: none; }
a {
    text-decoration: none;
    color: #3B6DDE; 
    font-weight: 400;}
.clear::after {
    content: ".";
    height: 0;
    display: block;
    visibility: hidden;
    clear: both; }
.clear {
    *zoom: 1; }
/*Collective declaration*/
html, body {
    height: 100%;
}
body {
    background: #fffef9;
   	font-family: "新宋体";
}
.swiper-container {
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}
.zhongdao{
	background-image: url(../image/earth.jpg);
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
	background-color: #468ef4;
}
#hrgLogo{
	width: 326px;
	height: 41px;
	margin-top: 35px;
	margin-left: 50px;
}
#box{
	margin-left: 215px;
	margin-top: 200px;
}
#CorporateNameZ{
	color: #FFFFFF;
	font-size: 48px;
}
#option{
	width: 550px;
	height: 120px;
	position: relative;
	margin-top: 25px;
	font-family: "微软雅黑";
}
.optionLeft{
	width: 50%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
}
.optionLeft li{
	height: 60px;
	line-height: 60px;
	font-size: 22px;
	color: #FFFFFF;	
}
.circular{
	display: inline-block;
	width: 15px;
	height: 15px;
	background: #FFFFFF;
	margin-top: 22.5px;
	border-radius: 50%;
}
.optionRight{
	width: 50%;
	height: 100%;
	position: absolute;
	right: 0;
	top: 0;
}
.optionRight li{
	height: 60px;
	line-height: 60px;
	font-size: 22px;
	color: #FFFFFF;	
}
#zhongdaoMore{
	width: 178px;
	height: 55px;
	background: #FFFFFF;
	color: #3B6DDE;
	border-top-left-radius: 27.5px;
	border-top-right-radius: 27.5px;
	border-bottom-left-radius: 27.5px;
	border-bottom-right-radius: 27.5px;
	border: 1px solid #3B6DDE;
	text-align: center;
	line-height: 55px;
	margin-top: 25px;
	transition: all 0.5s linear;
	font-size: 26px;
	font-weight: 600;
}
#zhongdaoMore:hover{
	background: #3B6DDE;
	color: #FFFFFF;
}
#AGVBox, #YKBox{
	position: absolute;
	right: 10%;
	top: 150px;
	width: 660px;
}
#AGVNameE{
	width: 400px;
}
#AGVNameZ{
	color: #3B6DDE;
	font-size: 48px;
	margin: 15px 0;
}
.AGVProfile{
	width: 30%;
	color: #3B6DDE;
	font-size: 36px;
}
.AGVProfiles{
	text-indent: 2em;
	color: #3B6DDE;
	font-size: 24px;
}
#AGVMore{
	width: 115px;
	height: 30px;
	background: #FFFFFF;
	color: #3B6DDE;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;
	border: 1px solid #3B6DDE;
	text-align: center;
	line-height: 30px;
	transition: all 0.5s linear;
	font-size: 18px;
	font-weight: 600;
	margin-top: 25px;
}
#AGVMore:hover{
	background: #3B6DDE;
	color: #FFFFFF;
}
#AGVProduct{
	width: 30%;
	position: absolute;
	left: -20%;
	top: 20%;
	transition: all 0.53s linear; 
}
.ForkliftDetails{
	background-image: url(../image/indexPart3.jpg);
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
}
#ForkliftNameE{
	width: 400px;
}
#ForkliftNameZ{
	color: #FFFFFF;
	font-size: 48px;
	margin: 15px 0;
}
.slogan{
	font-family: "微软雅黑";
	color: #FFFFFF;
	font-size: 50px;
	font-weight: 600;
	margin: 15px 0;
}
#ForkliftBox{
	position: absolute;
	left: 10%;
	top: 150px;
	width: 660px;
}
.ForkliftProfile{
	color: #FFFFFF;
	font-size: 36px;
}
.ForkliftProfiles{
	text-indent: 2em;
	color: #FFFFFF;
	font-size: 24px;
}
#ForkliftMore{
	width: 115px;
	height: 30px;
	background: #FFFFFF;
	color: #3B6DDE;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;
	border: 1px solid #3B6DDE;
	text-align: center;
	line-height: 30px;
	transition: all 0.5s linear;
	font-size: 18px;
	font-weight: 600;
	margin-top: 25px;
}
#ForkliftMore:hover{
	background: #3B6DDE;
	color: #FFFFFF;
}
#ForkliftProduct{
	width: 30%;
	position: absolute;
	right: -15%;
	top: 20%;
	transition: all 0.53s linear; 
}
.shandong{
	background: #FFFFFF;
}
#YKNameE{
	width: 400px;
}
#YKNameZ{
	color: #3B6DDE;
	font-size: 48px;
	margin: 15px 0;
}
.YKProfile{
	text-indent: 2em;
	color: #3B6DDE;
	font-size: 24px;
}
#YKMore{
	width: 115px;
	height: 30px;
	background: #FFFFFF;
	color: #3B6DDE;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;
	border: 1px solid #3B6DDE;
	text-align: center;
	line-height: 30px;
	transition: all 0.5s linear;
	font-size: 18px;
	font-weight: 600;
	margin-top: 25px;
}
#YKMore:hover{
	background: #3B6DDE;
	color: #FFFFFF;
}
#YKProduct{
	width: 30%;
	position: absolute;
	left: -20%;
	top: 20%;
	transition: all 0.53s linear; 
}
.indexBar{
    width: 50px;
    height: 20px;
    position: absolute;
    right: 5px;
    top: calc(50% - 50px);
    z-index: 999;
    background-image: url(../image/icon.png);
    background-position: center;
    background-repeat: no-repeat;
}
.indexBar:hover{	
    background-image: url(../image/icon_hover.png);
}
.swiper-pagination{
	right: 25px!important;
}
@media only screen and (max-width: 414px) {
	#hrgLogo{
		width: 42.5%;
		margin-left: 10px;
		margin-top: 20px;
	}
	#CorporateNameZ{
		width: 300px;
		margin: 0 auto;
		margin-top: 25px;
		font-size: 24px;
		margin-left: 0;
	}
	#AGVBox, #YKBox, #ForkliftBox{
		width: 300px;
		top: 50px;
	}
	.zhongdao{
		background-size: cover;
	}
	.slogan{
		margin-left: 0!important;
	}
	#option{
		margin-left: 0!important;
	}
	#box{
		margin-left: 50px;
		margin-top: 50px;
	}
	.slogan{		
		width: 300px;
		margin: 0 auto;
		font-size: 26px;
		margin-top: 25px;
	}
	#zhongdaoMore{
		width: 100px;
		height: 35px;
		line-height: 35px;
		margin-top: 15px;
		font-size: 18px;
	}
	#AGVNameE, #ForkliftNameE, #YKNameE{
		width: 300px;
	}
	#AGVNameZ, #ForkliftNameZ, #YKNameZ{
		font-size: 26px;
		font-weight: 600;
	}
	.AGVProfile, .ForkliftProfile, .YKProfile{
		font-size: 22px;
	}
	.AGVProfiles, .ForkliftProfiles{
		font-size: 16px;
	}
	#AGVMore, #ForkliftMore, #YKMore{
		margin: 0 auto;
		margin-top: 25px;
		font-size: 18px;
		margin-left: 0!important;
	}
	#option{
		width: 300px;
		height: 60px;
		margin: 0 auto;
		margin-top: 30px;
	}
	#option li{
		height: 30px;
		line-height: 30px;
		font-size: 12px;
	}
	.circular{
		width: 10px;
		height: 10px;
		margin-top: 10px;
	}
	#AGVProduct, #ForkliftProduct, #YKProduct{
		display: none;
	}
}

