html, body, div, nav, section, footer, p, h1, h2, h3, h4, h5, h6, span, img, a, ul, li, ol, dl, dd,
dt, table, th, tr, td, form, input, select, option, textarea, button {
    margin: 0;
    padding: 0;
    border: none;
    background: none;
    outline: none;
    vertical-align: top; }
ul, ol {
    list-style: none; }
a {
    text-decoration: none;
    color: #3B6DDE; 
    font-weight: 600;}
.clear::after {
    content: ".";
    height: 0;
    display: block;
    visibility: hidden;
    clear: both; }
.clear {
    *zoom: 1; }
/*Collective declaration*/
html,body{
    width: 100%;
    height: 100%;     
   	font-family: "新宋体";
}
#container{
	width: 80%;
	margin: 0 auto;
	border: 1px solid #999999;
	box-sizing: border-box;
	position: relative;
	overflow: hidden;
}
.option{
	width: 1200%;
	transition: all 0.5s linear;
	box-sizing: border-box;
	position: absolute;
	left: 0;
	top: 0;
}
.option li{
	width: 8.333%;
	float: left;
	/*background: rosybrown;*/
	position: relative;
	overflow-y: auto;
	color: #3b6dde;
}
.option li h2{	
	padding: 2% 2%;
}
.option li h4{	
	padding-top: 1%;
	padding-left: 2%;
}
.content{
	width: 17.5%;
	position: fixed;
	right: 0.5%;
	top: calc(50% - 210px);
}
.content li{
	width: 100%;
	height: 35px;
	border-radius: 5px;
	color: #3b6dde;
	background: #ffffff;
	font-size: 14px;
	border: 1px solid #3b6dde;
	border-bottom: none;
	box-sizing: border-box;
	text-align: center;
	line-height: 35px;
}
.zhongdao_title{
	display: inline-block;
	width: 100%;
	height: 50px;
	line-height: 50px;
	text-align: center;
	font-size: 2.25em;
	margin-top: 30%;
}
.zhongdao_title_English{	
	display: inline-block;
	width: 100%;
	height:50px;
	line-height: 50px;
	text-align: center;
	font-size: 1.25em;
}
.catalog, .enterprise_profile{
	display: inline-block;
	width: 100%;
	height: 30px;
	line-height: 30px;
	text-align: center;
	font-size: 1.75em;
	font-weight: 600;
	margin-top: 50px;
}
.catalog_page h3{
	padding-top: 7.5%;
	padding-left: 15%;
	font-size: 16px;
}
.catalog_page p{
	padding-top: 2%;
	padding-left: 15%;
}
.enterprise_profile_page p{
	width: 80%;
	margin:  0 auto;
	text-indent: 2em;
	letter-spacing: 2px;
	padding-top: 1%;
}
.agv_page p{
	width: 80%;
	margin: 0 auto;
	padding-top: 10px;
	text-indent: 2em;
}
.font_weight{
	font-weight: 600;
}
.agv{
	display:  block;
	width: 45%;
	margin: 5% auto;
}
@media only screen and (max-width: 750px) {
	.zhongdao_title{
		font-size: 22px;
		margin-top: 60%;
	}
	.zhongdao_title_English{
		font-size: 14px;
	}
	.content li{
		font-size: 12px;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}
	h2{
		font-size: 20px;
	}
	h4{
		font-size: 16px;
	}
	p{
		font-size: 14px;
	}
	.agv{
		width: 70%;
	}
}
@media only screen and (min-width: 1080px) {
	.zhongdao_title{
		font-size: 54px;
		margin-top: 30%;
	}
	.zhongdao_title_English{
		font-size: 32px;
	}
	.content li{
		font-size: 16px;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}
	h2{
		font-size: 32px;
	}
	h4{
		font-size: 24px;
	}
	p{
		font-size: 22px;
	}
}